.odd {
    background-color: #ffb6c1;

}

.three {
    font-size: 24px;
}

#id-one {
    color: blue;
    font-size: 36px;
}

#id-two {
    background-color: #90EE90;    ;
    font-size: 24px;
    font-weight: bold;
}